<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ForumDB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
	<!-- Lately using intiContext -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/jeedb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	 
	 <filter>
	 	<filter-name>LoggerDisplay</filter-name>
	 	<filter-class>com.LoggerDisplay</filter-class>
	 </filter>
	 
	 <filter-mapping>
	 	<filter-name>LoggerDisplay</filter-name>
	 	<servlet-name>DatabaseForum</servlet-name>
	 </filter-mapping>
	 
	
	
  <servlet>
  	<servlet-name>DatabaseForum</servlet-name>
  	<servlet-class>com.DatabaseForum</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>DatabaseForum</servlet-name>
  	<url-pattern>/DatabaseForum</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Confirmation</servlet-name>
  	<url-pattern>/Confirmation</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>Confirmation</servlet-name>
  	<servlet-class>com.Confirmation</servlet-class>
  </servlet>
  
 
  
  <error-page>
  	<exception-type>java.lang.NumberFormatException</exception-type>
  	<location>/WEB-INF/NombreIncorrect.html</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/WEB-INF/ErreurServeur.html</location>
  </error-page>
  
</web-app>